@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: always;
    text-align: left
    }
.calibre1 {
    display: block;
    text-align: center
    }
.calibre2 {
    height: auto;
    width: auto
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }