@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0);
  --secondary-background: oklch(95% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(100% 0 0);
  --main: oklch(0% 0 0);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 6px 6px 0px 0px var(--border);
  --chart-1: oklch(20% 0 0);
  --chart-2: oklch(40% 0 0);
  --chart-3: oklch(60% 0 0);
  --chart-4: oklch(80% 0 0);
  --chart-5: oklch(90% 0 0);
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(0% 0 0);
  --secondary-background: oklch(10% 0 0);
  --foreground: oklch(100% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(100% 0 0);
  --border: oklch(100% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 6px 6px 0px 0px var(--border);
  --chart-1: oklch(80% 0 0);
  --chart-2: oklch(60% 0 0);
  --chart-3: oklch(40% 0 0);
  --chart-4: oklch(20% 0 0);
  --chart-5: oklch(10% 0 0);
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 6px;
  --spacing-boxShadowY: 6px;
  --spacing-reverseBoxShadowX: -6px;
  --spacing-reverseBoxShadowY: -6px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 900;
}
  
@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-heading;
  }
}