a{text-decoration:inherit;color:inherit}
p{font-size:109%}
.p0{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p1{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:3.583em;margin-bottom:1.167em}
.p2{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:2.833em;margin-bottom:1.167em}
.p3{text-indent:1.417em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.417em}
.p4{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.417em}
.p5{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.75em}
.p6{text-indent:1.417em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.75em}
.p7{text-indent:1.417em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:.417em;margin-bottom:.417em}
h1{font-size:145%;font-weight:bold}
.h10{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:2.125em;margin-bottom:1.125em}
.h11{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:2.688em;margin-bottom:1.125em}
h2{font-size:127%;font-weight:bold}
.h20{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:2.143em;margin-bottom:1.286em}
.h21{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:3.071em;margin-bottom:1.286em}
.t1{font-size:1.667em;font-weight:bold}
.t2{font-size:1.833em;font-weight:bold}
.t3{font-size:1.333em}
.t4{font-style:italic}
.t5{font-size:.65em;vertical-align:super}
.t6{font-size:.596em;font-weight:bold;color:#17365d;vertical-align:super}
.t7{font-weight:bold}
.t8{font-weight:bold;font-style:italic}
.t9{color:#004080;text-decoration:underline}
.t10{text-decoration:underline}
.t11{font-size:.917em}
.t12{font-size:.917em;font-style:italic}